@font-face {
  font-family: fuentePagina; /*Define el nombre que va a tener la nueva fuente*/
  src: url("craft-gothic-condensed.ttf"); /*Definiendo ubicacion de la fuente*/
}

body {
  font-family: fuentePagina; /*Aplica la nueva fuente al body*/
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  color: #333333;
  width: 98.8vw;
}
.contenedor {
  box-sizing: border-box;
  display: flex; /* necesario para que funcionen las propiedades flex */
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 26, 26);
  /* separaci贸n y apariencia */
  height: 20vh;
  position: relative;

  width: 99vw;
}
h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 12vh;
  text-align: left;
}
.parrafo-titulo {
  display: flex;
  width: 60vh;
  text-align: center;
  font-size: 5vh;
}

.dark-mode {
  background-color: #333333;
  color: white;
}
#modeToggle {
  display: flex;
  padding: 10px 20px;
  height: 7vh;
  margin: 0;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: #333333;
  color: rgba(255, 255, 255, 0.822);
  position: absolute; /* <-- coloca el bot贸n respecto a .contenedor */
  top: 12px; /* separaci贸n desde el borde superior del contenedor */
  right: 12px; /* separaci贸n desde el borde derecho del contenedor */
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.dark-mode #modeToggle {
  background-color: rgba(255, 255, 255, 0.89);
  color: #333333;
}

.noticias-seccion {
  display: flex; /* necesario para que funcionen las propiedades flex */
  width: 70vw;
  flex-direction: column;
  align-items: center;

  padding: 0px;
  margin: 0%;
  border-radius: 10px;
}

h2 {
  display: flex;
  padding: 10px 20px;
  height: 20vh;
  margin: 100;
  font-size: 7vh;
  border-radius: 10px;
  align-items: center;
  justify-content: left;
  font-size: 15vh;
}
h3 {
  display: flex;
  flex-direction: column;
  font-size: 6vh;
  width: 50vw;
}
a {
  text-align: left;
  font-size: 5vh;
  color: rgb(133, 133, 133);
  width: 50vw;
  height: auto;
}
.site-footer {
  display: flex;
  width: 100%;
  background-color: #000000;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  font-size: 5vh;
  height: 20vh;
  position: relative;
  width: 98.8vw;
}
.derechos {
  color: rgb(219, 219, 219);
  font-size: 5vh;
  text-align: center;
  margin: 0.5%;
}
.contacto {
  color: rgb(219, 219, 219);
  margin: 0.5%;
  font-size: 5vh;
  text-align: center;
}

.noticia1 {
  display: flex; /* necesario para que funcionen las propiedades flex */
  width: 60vw;
  margin-top: 0px;
  flex-direction: column;
  align-items: left;

  padding: 0px;
  margin: 5%;
}

.noticia2 {
  display: flex; /* necesario para que funcionen las propiedades flex */
  width: 60vw;
  flex-direction: column;
  align-items: lwft;

  padding: 0px;
  margin: 5%;
}

.noticia3 {
  display: flex; /* necesario para que funcionen las propiedades flex */
  width: 60vw;
  flex-direction: column;
  align-items: left;

  padding: 0px;
  margin: 5%;
}

img {
  display: flex;
  align-items: left;
  width: 80vh;
  height: auto;
  margin-top: 0px;
}
.noticia-semana {
  display: flex;
  padding: 10px 20px;
  height: 20vh;
  font-size: 7vh;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  margin: 0%;
}

hr {
  width: 60vw;
  border: 2px solid #747474;
  margin: 20px 0;
}
.linea-semana {
  width: 60vw;
  border: 5px solid rgb(212, 26, 26);
  margin: 0px 0 50px 0;
}

h1 {
  color: #00bcd4;
}

select,
button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

button {
  background-color: #00bcd4;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0097a7;
}

.build {
  margin-top: 30px;
  color: #ffffffde;
  background: #1f1f1f;
  border-radius: 12px;
  padding: 20px;
  display: inline-block;
  text-align: left;
  width: 90%;
  max-width: 500px;
}

.component {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding: 8px 0;
  color: #ffffffde;
  font-size: 30px;
}

.total {
  font-weight: bold;
  font-size: 18px;
  color: #00e676;
  margin-top: 15px;
}
